*.gitignore
/CourseProject/*.cproject
/CourseProject/*.project
/CourseProject/*.mxproject
*.metadata
/RemoteSystemsTempFiles/
/CourseProject/*.ioc
/CourseProject/*.ld
/CourseProject/*.launch
/CourseProject/*.settings
/CourseProject/Core/Inc/stm32f4xx_it.h
/CourseProject/Core/Inc/stm32f4xx_hal_conf.h
/CourseProject/Debug/
/CourseProject/Drivers/
/CourseProject/USB_HOST/
/CourseProject/Core/Startup/
/CourseProject/Core/Src/stm32f4xx_hal_msp.c
/CourseProject/Core/Src/stm32f4xx_it.c
/CourseProject/Core/Src/syscalls.c
/CourseProject/Core/Src/sysmem.c
/CourseProject/Core/Src/sysmem.cgitg
/CourseProject/Core/Src/system_stm32f4xx.c
/CourseProject/Middlewares/